# Ejemplo de configuración
#CREAR Y- Copiar a application-dev.properties
# Este archivo es un ejemplo, no lo llenes Y MUCHO MENOS LO SUBAS A GITHUB LLENADO

# Configuración de la base de datos
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mysql://localhost:3306/sistemafutbolBD
spring.datasource.username=root
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.show-sql: true

#tamaño fotos
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

# Credenciales de Imgur
imgur.client.id=
imgur.client.secret=

# JWT
jwt.secret=
jwt.issuer=
jwt.expiration=

# Credenciales del admin
admin.email=
admin.password=

